.counter-container {
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: lightgray;
    margin-bottom: 0.5rem;
}

.title {
    color: darkblue ;
}

.value {
    font-size: x-large;
    font-weight: bold;
    margin: 0 0.5rem;
}