.temperatures-container{
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
    margin-bottom: 0.5rem;
    background-color: white;
}

.temperatures-title{
    color: darkblue;
}

.temperatures-badges {
    display: flex;
    justify-content: space-around; /* จัดตำแหน่งให้กระจายเต็มพื้นที่ */
    margin: 1rem 0; /* เพิ่มระยะห่างด้านบนและด้านล่าง */
}

.celsius{
    text-align: left;
}

.temperatures-variables {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
}
